:root{

--background:#050505;

--background-light:#FFF9F7;

--primary:#C96F7E;

--blush:#EACCCB;

--burgundy:#4A1218;

--gold:#D9B38C;

--white:#FFFFFF;

--black:#050505;

--text:#F5F1EE;

--text-dark:#1F1F1F;

--grey:#8E8E8E;

--radius-sm:8px;
--radius-md:16px;
--radius-lg:24px;
--radius-xl:36px;

--shadow-soft:0 8px 30px rgba(0,0,0,.12);

--shadow-luxury:0 30px 60px rgba(0,0,0,.28);

}